<nav class="menu d-print-none">
  <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
  <label class="menu-open-button btn-primary" for="menu-open">
    <i class="fa fa-plus"></i>
  </label>

  <div class="menu-item btn-primary" (click)="addMission()"> <i class="fa fa-briefcase"></i> </div>
  <div class="menu-item btn-primary" (click)="addTraining()"> <i class="fa fa-chalkboard-teacher"></i> </div>
  <div class="menu-item btn-primary" (click)="addDiploma()"> <i class="fa fa-graduation-cap"></i> </div>
  <div class="menu-item btn-primary" (click)="addReference()"> <i class="fa fa-address-card"></i> </div>
  <div class="menu-item btn-primary" (click)="addLanguage()"> <i class="fa fa-globe"></i> </div>
  <div class="menu-item btn-primary" (click)="addLanguage()"> <i class="fa fa-globe"></i> </div>
</nav>
