@import '../../styles/trigs';
$menu-items:6 !default;


:host{
  display: block;
}


%ball{
   background: rebeccapurple;
   border-radius:100%;
   width:60px;
   height:60px;
   position:absolute;
   bottom:0;
   color:white;
   text-align:center;
   line-height:60px;
   transform:translate3d(0,0,0);
   transition:transform ease-out 200ms;
 }
.menu-open{
  display:none;
}
.menu-item{
@extend %ball;
  background-color: rebeccapurple;
}

.menu{
  position: fixed;
  bottom: 20%;
  right: 20%;
  margin-right: 20%;
  $width:50px;
  $height:200px;
  height: $height;
  box-sizing:border-box;
  font-size: 2rem;
  text-align:left;
}


.menu-item{
  &:hover{
    }
    @for $i from 1 through $menu-items{
      &:nth-child(#{$i+2}){
      transition-duration:180ms;
    }
  }
}

.menu-open-button{
@extend %ball;
  z-index:2;
  transition-duration:400ms;
  cursor: pointer;
}
.menu-open-button:hover{
  transform:scale(1.2,1.2) translate3d(0,0,0);
}
.menu-open:checked+.menu-open-button{
  transition-timing-function:linear;
  transition-duration:90ms;
  transform:scale(0.7,0.7);
}

.menu-open:checked~.menu-item{
  transition-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000);
  @for $i from 1 through $menu-items{
    &:nth-child(#{$i+2}){
      transition-duration:90ms;
      transform:translate3d(cos($i/$menu-items*360deg)*70px,- sin($i/$menu-items*360deg)*70px,0);
    }
  }
}

@debug rad(72);
